@import url('https://fonts.googleapis.com/css2?family=Inspiration&family=Ramaraja&family=Roboto&family=Smokum&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: normal;
    background: #93b3a3;
}

.container {
    max-width: 700px;
    margin: auto;
    padding-top: 20px;
}

.avatar {
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.25);
    width: 250px;
    height: 384px;
    border-radius: 25px;
    margin-bottom: 15px;
}

.info {
    border-radius: 20px;
    display: flex;
}

.info-text {
    margin-left: 40px;
}

.info-text p {
    font-size: 18px;
    font-style: italic;
    font-weight: bold;
    color: #3f3f3f;
    margin: 0;
}

.sotc {
    margin-top: 0px;
}

.bg-white {
    background: #fff;
}


.card {
    border-radius: 20px;
    background: rgb(106, 129, 194);
    padding: 15px 20px;
    margin-bottom: 20px;
    color: azure;
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.25);
}

.card h2 {
    margin-bottom: 5px;
    margin-top: 5px;
}

.hob {
    border-radius: 20px;
    background: rgb(214, 123, 123);
    padding: 15px 20px;
    padding-bottom: 1px;
    color: rgb(248, 248, 248);
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.25);
}

.hob h2 {
    margin-bottom: 5px;
    margin-top: 5px;
}

.abtn {
    font-weight: bold;
    color: #333;
    text-decoration: none;
    transition: all .2s;
}

a:hover {
    color: orange;
    font-size: 1.2rem;
}

a:active {
    color: blue;
}

/* a:visited {
    color: #ac12db;
} */

.btn {
    background: #111;
    padding: 15px 20px;
    color: white;
    border: none;
    font-family: inherit;
    cursor: pointer;
}

.btn:hover {
    opacity: 0.8;
}

.form h3 {
    text-align: center;
}

.form-row {
    margin-bottom: 10px;
    display: flex;
}

.form-row .form-group {
    margin-right: 20px;
    width: 50%;
    /* display: inline-block; */
    /* width: calc(50% - 20px); */
}

.form-row .form-group:last-child {
    margin-right: 0;
}

@media (max-width: 650px) {
    .form-row {
        display: block;
    }

    .form-row .form-group {
        width: 100%;
        margin-right: 0;
        margin-bottom: 10px;
    }
}

.form-group label {
    display: block;
    font-size: 14px;
    color: #3f3f3f;
}

.form-group input, .form-group textarea {
    width: 100%;
    box-sizing: border-box;
    border: none;
    background: transparent;
    border-bottom: 1px solid #000;
    color: #000;
    padding: 15px 0 10px;
    outline: none;
    font-family: inherit;
}

@media (max-width: 650px) {
    .info {
        text-align: center;
        display: block;
    }
}